
.field {
  margin-bottom: 20px;
  width: 100%;
}

.uploadTitle {
  text-align: center;
}

.label {
  display: block;
  margin-bottom: 3px;
  font-weight: 500;
}

.select {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
}

.submit {
  padding: 7px 10px;
  text-transform: uppercase;
  border-radius: 5px;
}

.uploadTitle  {
  margin: 40px 20px;
}

.error {
  display: block;
  margin-bottom: 15px;
  color: #800000;
}