.main {
  padding: 30px 15px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
 font-size: 16px;
 line-height: 24px;
 background-color: #333;
}
.contentTitle {
 font-size: 40px;
 line-height: 1;
 margin: 0px 0px 50px 0px;
 color: #fff;
}

@media (min-width: 992px) {
  .main {
    grid-area: main;
    display: grid;
    grid-template: 1fr / 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
  }
  .content {
    grid-column: 2 / 4;
    padding: 0px 0px 0px 30px;
  }
}

.filmFrame {
  width: 100%;
  aspect-ratio: 16/9;
}

.filmDescription {
  margin-top: 15px;
  color: #ffffff;
}